body {
    background-color: aqua;
}
.bedTable {
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#frac {
    text-align: center;
}
#dose {
    text-align: center;
}
#bed {
    text-align: center;
}