body {
    background-color: aqua;
}
table, td, tr {
    border: 1px solid;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.storage {
    font-size: 50px;
    width: 181px;
}

#ab {
    width: 181px;
}

.radiation {
    height: 15px;
    width: 15px;
}

input.storage {
    background-color: aqua;
    border-style: none;
    text-align: center;
}

.dom {
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
