body {
    background-color: aqua;
}
table {
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#frac {
    text-align: center;
}
#dose {
    text-align: center;
}
#bed {
    text-align: center;
}

.radiation {
    height: 15px;
    weight: 15 px;
}

input.storage {
    background-color: aqua;
    border-style: none;
    text-align: center;
}

.dom {
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}